.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

p{
    font-size: 20px;
}

.brackets{
    color: red;
}

.intro-content{
    margin-left: 80px;
}

.buttons-section{
    margin-top: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-buttons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-buttons-section a{
    margin: 0px 10px;
    padding: 10px 10px;
    border-radius: 6px;
    border: 0px solid black;
    background-color: white;
    transition: 0.3s;
}

.social-button-icon{
    height: 24px;
    width: 24px;
    color: #44a0c7;
}

.cv-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    border-radius: 25px;
    border: 0px solid black;
    background-color: #44a0c7;
    color: white;
    font-size: large;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.3s;
}

.name{
    font-size:48px;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
}